<div class="ui container stackable grid">
  <div class="divider"></div>
  <div class="eight wide centered column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui huge form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :nombre, "NOMBRE COMPLETO" %>
          <%= f.text_field :nombre, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email, "EMAIL" %>
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :phone, "TELÉFONO" %>
          <%= f.text_field :phone %>
        </div>

        <div class="field">
          <%= f.label :password, "CONTRASEÑA" %>
          <% if @minimum_password_length %>
              <em>(Mínimo <%= @minimum_password_length %> carácteres)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "CONFIRMAR CONTRASEÑA" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <%= f.button :submit, class: 'ui fluid huge blue button', id: 'registration_submit' do %>
          <i class="write icon"></i>
            REGISTRARME
        <% end %>
    <% end %>

    <div class="divider"></div>


    <div class="row">
      <h2 class="text-center">YA TIENE CUENTA?</h2>
      <a href="<%= new_session_path(resource_name) %>" class="ui fluid huge green button">
        <i class="sign in icon"></i>
        INICIAR SESIÓN
      </a>
    </div>
    <div class="divider"></div>
  </div>
</div>

<script>
  $('#registration_submit').on('click', function(){
    fbq('track', 'Lead', {
      value: 20,
      currency: 'ARS'
   })
  })
</script>