<tr>
  <td>
      <img src="<%= product.photo.url %>" alt="Product Image" class="ui mini image">
  </td>
  <td><%= product.weight %> KG</td>
  <td><%= product.name %></td>
  <td>
      <%= best_in_place product,
                        :in_stock,
                        as: :checkbox,
                        collection: {false: "<i class='big red close icon'></i>NO".html_safe, true: "<i class='big green checkmark icon'></i>SI".html_safe},
                        url: product_update_stock_path(product.id)
      %>
  </td>
</tr>