<table class="ui compact celled striped table">
  <thead>
  <tr>
    <th>Foto</th>
    <th>Peso</th>
    <th>Nombre</th>
    <th>En stock?</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <%= render partial: 'product', locals: {product: product} %>
  <% end %>
  </tbody>
</table>