<div class="ui container stackable grid">
  <div class="divider"></div>
  <div class="row">
    <div class="ui center aligned eight wide column">
      <div class="ui segments">
        <div class="ui brown inverted segment">
          <h1 class="ui header">MIS DATOS</h1>
        </div>
        <div class="ui segment">
          <h2 class="ui header"><%= @supplier.name %></h2>
        </div>
        <div class="ui segment">
          <h3><i class="icon envelope"></i> <%= @supplier.email %></h3>
          <h3><i class="icon phone"></i> <%= @supplier.phone %></h3>
        </div>
        <div class="ui segment">
          <div class="ui horizontal bulleted link list">
            <%= link_to "CERRAR SESION", destroy_supplier_session_path, method: :delete, class: 'item' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <%= render partial: 'products_table' %>

  <div class="ui divider"></div>
  <div class="ui divider"></div>


</div>