<div class="ui container fluid">
  <div class="banner-principal">
    <h1 class="instruction-title">
      QUE EL ALIMENTO DE TUS MASCOTAS YA NO SEA UN PROBLEMA
    </h1>
    <%= image_tag 'banner-principal.png', class: 'ui centered image' %>
  </div>
</div>

<div class="ui container fluid">
  <div class="ui center aligned grid">
    <div class="ui row white-background">
      <div class="sixteen wide column">
        <h1 class="instruction-title no-margin">
          ¿CÓMO FUNCIONA CLUB DE HUELLAS?
        </h1>
      </div>
    </div>


    <div class="instruction custom-yellow row middle aligned">
      <div class="ui container center aligned middle aligned grid">
        <div class="six wide column">
          <div class="instruction-image">
            <%= image_tag 'icono-registrarme.png', class: 'ui centered image' %>
          </div>
        </div>
        <div class="ten wide column">
          <div class="content">
            <div class="number-circle vertical-align">
              <h1>1</h1>
            </div>
            <h1 class="instruction-title">REGISTRATE EN LA WEB</h1>
            <p>REGISTRARTE ES SÚPER FÁCIL, UNICAMENTE TENÉS QUE LLENAR EL FORMULARIO
              CON TU NOMBRE, EMAIL Y NÚMERO DE TELÉFONO. <br>
              PODÉS HACERLO DESDE TU CELULAR O COMPUTADORA.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="instruction light-yellow row middle aligned">
      <div class="ui container center aligned middle aligned grid">
      <div class="ten wide column">
        <div class="content">
          <div class="number-circle vertical-align">
            <h1>2</h1>
          </div>
          <h1 class="instruction-title">SELECCIONA LOS PRODUCTOS</h1>
          <p>ELEGÍ LOS PRODUCTOS QUE CONSUMEN TUS MASCOTAS, TENEMOS DE TODAS
            LAS MARCAS, VARIEDADES Y TAMAÑOS.</p>
        </div>
      </div>
      <div class="six wide column">
        <div class="instruction-image">
          <%= image_tag 'icono-comida.png', class: 'ui centered image' %>
        </div>
      </div>
      </div>
    </div>

    <div class="instruction custom-yellow row middle aligned">
      <div class="ui container center aligned middle aligned grid">
      <div class="six wide column">
        <div class="instruction-image">
          <%= image_tag 'icono-tarjeta.png', class: 'ui centered image' %>
        </div>
      </div>
      <div class="ten wide column">
        <div class="content">
          <div class="number-circle vertical-align">
            <h1>3</h1>
          </div>
          <h1 class="instruction-title">ELEGÍ COMO QUERÉS PAGAR</h1>
          <p>
            PODÉS PAGAR EN EFECTIVO AL MOMENTO DE LA ENTREGA, O EN CUOTAS
            CON TU TARJETA DE CRÉDITO A TRAVÉS DE MERCADOPAGO.
          </p>
        </div>
      </div>
      </div>
    </div>


    <div class="light-yellow middle aligned row">
      <div class="ui container center aligned middle aligned grid">
      <div class="five wide column">
        <%= image_tag 'perrito-1.png', class: 'ui centered image' %>
      </div>
      <div class="six wide column">
        <div class="content">
          <h1 class="finishing-title">¡LISTO!</h1>
          <h1 class="finishing-sentence">
            Nosotros nos encargamos de llevarte
            el alimento a tu domicilio.
          </h1>
        </div>
      </div>
      <div class="five wide column">
        <%= image_tag 'perrito-2.png', class: 'ui centered image' %>
      </div>
      </div>
    </div>


    <div class="row">
        <div class="sixteen wide column">
          <div class="content">
            <div class="divider"></div>
            <h1 class="instruction-title">¿QUE ESPERÁS PARA UNIRTE AL CLUB?</h1>
            <%= link_to new_customer_registration_path do %>
                <%= image_tag 'boton-suscripcion.png', class: 'ui centered image' %>
            <% end %>
          </div>
        </div>
    </div>

  </div>
</div>