<div class="ui container center aligned grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="divider"></div>
      <%= image_tag 'whatsapp-logo.png' %>
      <h2>+ (351) 5122959 </h2>
      <div class="divider"></div>
      <i class="icon huge envelope"></i>
      <a href="mailto:contacto@clubdehuellas.com" style="color: #333">
        <h2>contacto@clubdehuellas.com</h2>
      </a>
      <div class="divider"></div>
    </div>
  </div>
</div>