<div class="ui container two column stackable grid">
  <div class="divider"></div>
  <div class="centered column">
    <h2>¿En que localidad funciona Club de Huellas?</h2>
    <p>
      Por el momento funcionamos en la Ciudad de Córdoba, incluidos Villa Allende y Arguello.
      Tené en cuenta que en Villa Allende y alrededores entregamos solo los días Miércoles.
    </p>
    <h2>¿Cuanto cuesta el envío?</h2>
    <p>
      El envío es GRATUITO para toda la Ciudad de Córdoba. Para Villa Allende y Arguello tiene un recargo de $30
    </p>
  </div>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div><div class="divider"></div><div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
</div>