<div class="ui one column grid">
  <div class="computer tablet only column">
    <%= render partial: 'instructions_md_semantic' %>
  </div>

  <div class="mobile only column">
    <%= render partial: 'instructions_xs_semantic' %>
  </div>
</div>
