<script src="//maps.google.com/maps/api/js?key=AIzaSyCIjCfZpRFqIP6PMeG7TXdalkTzJdTrdPQ"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<div style='width: 100%;'>
  <div id="multi_markers" style='width: 100%; height: 600px;'></div>
</div>

<script>
  var handler = Gmaps.build('Google');
  var myOptions = {
  };
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>