<div class="ui container stackable grid">
  <div class="divider"></div>
  <div class="eight wide centered column">
    <h2>Ingrese su email</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'ui huge form', method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "REESTABLECER CONTRASEÑA", class: 'ui huge fluid green button' %>
        </div>
    <% end %>
  </div>
  <div class="divider"></div>
</div>

