<footer>
  <div class="ui container fluid" style="margin: 0 !important;">

    <div class="ui inverted custom-brown segment center aligned">
      <div class="ui stackable three columns grid">
        <div class="center aligned column">
          <%= link_to "http://movipaq.com" do %>
              Toda nuestra logistica es llevada a cabo por:
              <%= image_tag 'movipaq.png', class: 'ui medium centered image' %>
              www.movipaq.com
          <% end %>
        </div>
        <div class="center aligned column">
          <h2 class="footer-header">SEGUINOS EN:</h2>
          <%= link_to facebook_url, class: 'footer-social-icon' do %>
              <%= image_tag 'Facebook.png' %>
          <% end %>

          <%= link_to instagram_url, class: 'footer-social-icon' do %>
              <%= image_tag 'Instgram.png' %>
          <% end %>

          <a href="mailto:contacto@clubdehuellas.com">
            <h4>contacto@clubdehuellas.com</h4>
          </a>
        </div>
        <div class="center aligned column">
          <%= image_tag 'whatsapp-logo.png' %>
          <h2>+ (351) 5122959 </h2>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
    </div>


  </div>

</footer>