<header>
  <div class="ui container fluid" style="margin: 0 !important;">
    <div class="ui inverted custom-brown segment">
      <div class="ui container stackable grid">
        <div class="ui sixteen wide computer only column">
          <div class="row" style="position: absolute; width: 100%; padding-top: 20px; padding-right: 45px;">
            <% if customer_signed_in? %>
                <h1 class="ui right aligned inverted header">
                  ¡Hola <%= current_customer.nombre %>!
                </h1>
            <% end %>
          </div>
          <div class="row">
            <div class="ui stackable inverted text fluid menu" id="main-menu">
              <%= link_to root_path, class: 'item logo' do %>
                  <%= image_tag 'clubdehuellas.png' %>
              <% end %>
              <%= link_to root_path, class: current_class?(root_path) do %>
                  INICIO
              <% end %>
              <%= link_to products_path, class: current_class?(products_path) do %>
                  PRODUCTOS
              <% end %>
              <%= link_to faq_path, class: current_class?(faq_path) do %>
                  PREGUNTAS FRECUENTES
              <% end %>
              <%= link_to contacto_path, class: current_class?(contacto_path) do %>
                  CONTACTANOS
              <% end %>
              <div class="right menu">
                <% if customer_signed_in? %>

                    <%= link_to customer_panel_path, class: current_class?(customer_panel_path) do %>
                        <i class="user icon"></i>
                        MI CUENTA
                    <% end %>

                    <%= link_to new_order_path, class: 'ui green small button' do %>
                        REALIZAR UN PEDIDO
                    <% end %>


                <% else %>
                    <%= link_to new_customer_session_path, class: 'ui green small button' do %>
                        <i class="sign in icon"></i>
                        REALIZAR UN PEDIDO
                    <% end %>
                <% end %>
              </div>

            </div>
          </div>
        </div>


        <div class="ui mobile tablet only center aligned row">
          <%= link_to root_path, class: 'ui centered image logo mobile-logo' do %>
              <%= image_tag 'clubdehuellas.png' %>
          <% end %>
        </div>
        <div class="ui mobile tablet only center aligned row">
          <a class="toggle-mobile-menu ui icon inverted button">
            <i class="sidebar icon"></i>
            Menu
          </a>
        </div>
        <div class="ui mobile tablet only center aligned column">
          <% if customer_signed_in? %>
            <h1 class="ui center aligned inverted header">
              ¡Hola <%= current_customer.nombre %>!
            </h1>
          <% end %>
          <div class="ui inverted vertical text menu" style="margin: auto;">
            <% if customer_signed_in? %>

                <%= link_to customer_panel_path, class: current_class?(customer_panel_path) do %>
                    <i class="user icon"></i>
                    MI CUENTA
                <% end %>

                <%= link_to new_order_path, class: 'ui green button' do %>
                    REALIZAR UN PEDIDO
                <% end %>


            <% else %>
                <%= link_to new_customer_session_path, class: 'ui green button' do %>
                    <i class="sign in icon"></i>
                    REALIZAR UN PEDIDO
                <% end %>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
</header>
