<div class="ui sidebar inverted vertical menu" id="mobile_menu_sidebar">
  <%= link_to root_path, class: current_class?(root_path) do %>
      INICIO
  <% end %>
  <%= link_to products_path, class: current_class?(products_path) do %>
      PRODUCTOS
  <% end %>
  <%= link_to faq_path, class: current_class?(faq_path) do %>
      PREGUNTAS FRECUENTES
  <% end %>
  <%= link_to contacto_path, class: current_class?(contacto_path) do %>
      CONTACTANOS
  <% end %>
  <div class="divider"></div>
  <% if customer_signed_in? %>
      <h3 class="ui black fluid big button">
        ¡Hola <%= current_customer.nombre %>!
      </h3>
      <%= link_to customer_panel_path, class: 'ui blue fluid button' do %>
          MI CUENTA
      <% end %>

      <%= link_to new_order_path, class: 'ui green fluid button' do %>
          REALIZAR UN PEDIDO
      <% end %>

  <% else %>
      <%= link_to new_customer_session_path, class: 'ui green fluid button' do %>
          REALIZAR UN PEDIDO
      <% end %>

  <% end %>
</div>