<%= form_for @order, validate: true, html: {class: 'ui large form'} do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table class="ui striped padded center aligned large table order-table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>PRODUCTO</th>
        <th>PESO</th>
        <th>PRECIO</th>
        <th>CANTIDAD</th>
        <th>SUBTOTAL</th>
      </tr>
      </thead>
      <tbody id="order_products">
      <tr class="product_row">
        <td class="hidden-xs"></td>
        <td class="product-img"><%= image_tag 'clubdehuellas.png', class: 'ui tiny centered image' %></td>
        <td class="product-name fijo-envio">COSTO DE ENVIO</td>
        <td class="hidden-xs"></td>
        <td class="hidden-xs"></td>
        <td class="hidden-xs"></td>
        <td class="total-price fijo-envio"><span class="amount">$<%= @order.shipping_cost %></span></td>
      </tr>
      </tbody>
    </table>

    <div class="ui bottom attached padded segment">
      <div class="ui stackable grid">
        <div class="ui middle aligned row">
          <div class="eight wide center aligned column">
            <a id="add_product" class="open_products_panel">
              <h1 class="ui icon header">
                <i class="massive icon add circle green"></i>
                <div class="content">AÑADIR PRODUCTO</div>
              </h1>
            </a>
          </div>
          <div class="eight wide center aligned column">
            <div class="row">
              <h1 class="no-margin">TOTAL:</h1>
              <div id="order_total">$0</div>
            </div>
            <div class="row">
              <div class="inline field">
                <%= f.text_field :coupon_code, placeholder: 'Cupón de descuento' %>
                <a class="ui green button" id="apply-coupon">APLICAR CUPÓN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable grid">
      <div class="ten wide column">
        <div class="field">
          <%= f.label :address, "Dirección" %>
          <%= f.text_field :address %>
        </div>
        <div class="two fields">
          <div class="field">
            <%= f.label :zone, "Barrio / Zona" %>
            <%= f.collection_select(:zone_id, Zone.all, :id, :name, {}, {class: 'selectize zone_select'}) %>
          </div>

          <div class="field">
            <%= f.label :time_preference, "Preferencia Horaria" %>
            <%= f.select(:time_preference, options_for_select(Order.time_preference_options), {}, {class: 'selectize'}) %>
          </div>
        </div>
        <div class="field">
          <%= f.label :note, "Notas / Aclaraciones Especiales / Horarios Especificos" %>
          <%= f.text_area :note %>
        </div>
      </div>

      <div class="six wide center aligned column calendar-column">
        <div class="ui centered message">
          <div style="padding: 20px;">
            <div class="header">Fecha de Entrega</div>
            <p>
              Selecciona la fecha que querés recibir el pedido.
            </p>
          </div>
          <%= f.text_field :delivery_date, {value: l(@order.delivery_date), id: 'date_field', class: 'hidden'} %>
          <div class="datepicker ll-skin-melon">
          </div>
        </div>
      </div>
    </div>


    <div class="ui stackable two columns center aligned grid">
      <div class="row">
        <h1>FORMA DE PAGO:</h1>
      </div>
      <div class="row payment_methods">
        <div class="column">
          <%= f.radio_button :payment_method, "EFECTIVO" %>
          <label class="payment_method_radio" for="order_payment_method_efectivo">
            <h3>EFECTIVO AL RECIBIR</h3>
            <p>Te cobramos en efectivo al momento de entregarte el pedido.</p>
            <i class="green money huge icon"></i>
          </label>
        </div>
        <div class="column">
          <%= f.radio_button :payment_method, "MERCADOPAGO" %>
          <label class="payment_method_radio" for="order_payment_method_mercadopago">
            <h3>TARJETA CON MERCADOPAGO</h3>
            <p>Pagá en cuotas con tu tarjeta de crédito a través de Mercado Pago.</p>
            <%= image_tag 'mercadopago.png', class: 'ui small centered image' %>
          </label>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <%= f.button :submit, class: 'ui fluid massive green button', id: 'make_order' do %>
        <i class="checkmark icon"></i>
        REALIZAR PEDIDO
    <% end %>
<% end %>

<script>
  $('#make_order').on('click', function() {
    fbq('track', 'Nuevo pedido', {
      value: 100,
      currency: 'ARS'
    });
  })
</script>