<%= ajax_loadzone do %>
    <div class="ui container">
      <div class="divider" style="height: 15px;"></div>
      <%= page_entries_info @products %>
      <div class="divider"></div>
      <div id="filterrific_results">
        <div class="ui four doubling stackable cards">
          <% @products.each do |product| %>
              <%= render partial: 'product', locals: {product: product} %>
          <% end %>
        </div>
      </div>
      <script>
        set_add_to_order();
      </script>
<% end %>

<div class="divider"></div>
</div>

<%= ajax_links :section_id => "list" do %>
    <%= paginate @products, window: 1 %>
<% end %>
