<div class="ui product card">

  <div class="ui centered image">
    <img src="<%= product.photo.url %>" alt="Product Image">
  </div>

  <div class="center aligned content">
    <h3 class="header"><%= product.name %></h3>
    <div class="meta"><%= product.weight %> KG</div>
  </div>
  <div class="ui bottom attached segment text-center">
    <div class="ui middle aligned grid">
      <div class="seven wide column">
        <h3 class="ui product-price green header">$<span><%= product.price %></span></h3>
      </div>
      <div class="nine wide column">
        <% if product.in_stock? %>
            <div class="ui green button add_to_order close_products_panel"
                 data-product-id="<%= product.id %>"
                 data-product-name="<%= product.name %>"
                 data-product-weight="<%= product.weight %>"
                 data-product-photo="<%= product.photo.url %>"
                 data-product-price="<%= product.price %>"
                 data-product-free-shipping="<%= product.free_shipping %>"
            >
              AÑADIR
            </div>
        <% else %>
            <p>
              Agotado. A reponer en breve
            </p>
        <% end %>
      </div>
    </div>
  </div>
</div>