<div class="divider"></div>
<div class="ui container">
  <h1 class="ui centered header">NUEVO PEDIDO</h1>
    <%= render 'form' %>
</div>
<div class="divider"></div>


<div id="add_product_sidebar">


  <div class="ui center aligned container grid">
    <div class="divider"></div>
    <div class="three columns middle aligned row computer only">
      <div class="column"></div>
      <div class="column">
        <h1 class="ui centered header">
          AÑADIR PRODUCTO
        </h1>
      </div>
      <div class="right aligned column">
        <div class="ui right labeled icon button red close_products_panel">
          <i class="right arrow icon"></i>
          Volver
        </div>
      </div>
    </div>
    <div class="two columns middle aligned row mobile tablet only">
      <div class="column">
        <h4 class="ui centered header">
          AÑADIR PRODUCTO
        </h4>
      </div>
      <div class="right aligned column">
        <div class="ui right labeled icon button red close_products_panel">
          <i class="right arrow icon"></i>
          Volver
        </div>
      </div>
    </div>
  </div>


  <%= render partial: 'orders/products_index' %>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
</div>


<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 420476599]);
  (function () {
    function ldinsp() {
      if (typeof window.__inspld != "undefined") return;
      window.__inspld = 1;
      var insp = document.createElement('script');
      insp.type = 'text/javascript';
      insp.async = true;
      insp.id = "inspsync";
      insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(insp, x);
    };
    setTimeout(ldinsp, 500);
    document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
  })();
</script>
<!-- End Inspectlet Embed Code -->

<% if customer_signed_in? %>
    <script type="text/javascript">
      __insp.push(['identify', "<%= current_customer.email %>"]);
    </script>
<% end %>

<script>
  $('.datepicker').datepicker({
    inline: true,
    altField: '#date_field',
    dateFormat: 'dd/mm/yy',
    beforeShowDay: $.datepicker.noWeekends,
    minDate: '<%= @order.delivery_date.strftime("%d/%m/%Y") %>',
    showOtherMonths: true,
    selectOtherMonths: false
  });

    $('.zone_select').on('change', function () {
      if($(this).val() == 422 || $(this).val() == 367 || $(this).val() == 52 || $(this).val() == 54) {
        $('.datepicker').datepicker('option', 'beforeShowDay', function(date) {
          var day = date.getDay();
          return [(day == 3), ''];
        });
      } else {
        $('.datepicker').datepicker('option', 'beforeShowDay', $.datepicker.noWeekends)
      }
    });

</script>

