<div class="ui segments">
  <div class="ui blue inverted segment">
    <h2 class="ui center aligned header">
      SUSCRIPCION Nº<%= subscription.id %>
    </h2>
  </div>
  <div class="ui segment">
    <div class="ui stackable padded relaxed grid">
      <div class="twelve wide column">
        <h2 class="ui header">
          <i class="marker orange icon"></i>
          <div class="content">
            DIRECCIÓN:
            <div class="sub header"><%= subscription.address %>, <%= subscription.zone.name %></div>
          </div>
        </h2>
      </div>
      <div class="four wide column">
        <h2 class="ui header">
          <% case subscription.status %>
          <% when 'authorized' %>
              <i class="icon checkmark green"></i>
              <div class="content">
                ESTADO:
                <div class="sub header green">ACTIVA</div>
              </div>
          <% when 'pending' %>
              <i class="icon wait yellow"></i>
              <div class="content">
                ESTADO:
                <div class="sub header yellow">PENDIENTE DE APROBACIÓN MERCADOPAGO</div>
              </div>
          <% when 'paused' %>
              <i class="icon pause blue"></i>
              <div class="content">
                ESTADO:
                <div class="sub header blue">PAUSADA</div>
              </div>
          <% when 'cancelled' %>
              <i class="icon close red"></i>
              <div class="content">
                ESTADO:
                <div class="sub header red">CANCELADA</div>
              </div>
          <% else %>
          <% end %>
        </h2>
      </div>
    </div>
  </div>


  <div class="ui segment">
    <table class="ui striped padded center aligned large table subscription-table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>PRODUCTO</th>
        <th>PESO</th>
        <th>PRECIO</th>
        <th>CANTIDAD</th>
        <th>SUBTOTAL</th>
      </tr>
      </thead>
      <tbody id="subscription_products">
      <% subscription.subscription_items.each do |si| %>
          <tr class="product_row">
            <td class="product-img">
              <img src="<%= si.product.photo.url %>" class="ui tiny centered image">
            </td>
            <td class="product-name">
              <%= si.product.name %>
            </td>
            <td class="product-weight">
              <%= si.product.weight %> KG
            </td>
            <td class="unit-price">
              <span class="amount">$<%= si.unit_price %></span>
            </td>
            <td class="product-quantity">
              <%= si.quantity %>
            </td>
            <td class="total-price">
              <span class="amount">$<%= si.total_price %></span>
            </td>
          </tr>
      <% end %>

      <tr class="product_row">
        <td class="product-img"><%= image_tag 'clubdehuellas.png', class: 'ui tiny centered image' %></td>
        <td class="product-name">COSTO DEL SERVICIO</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total-price"><span class="amount">$<%= subscription.shipping_cost %></span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="ui segment">
    <div class="ui stackable padded relaxed grid">
      <div class="six wide column">
        <h3 class="ui header">
          <i class="money icon"></i>
          <div class="content">
            FORMA DE PAGO:
            <% if subscription.payment_method == 'MERCADOPAGO' %>
                <div class="sub header">DÉBITO AUTOMÁTICO MERCADOPAGO</div>
            <% elsif subscription.payment_method == 'EFECTIVO' %>
                <div class="sub header">EFECTIVO EN ENTREGA</div>
            <% end %>
          </div>
        </h3>
      </div>
      <div class="six wide column">

      </div>
      <div class="four wide center aligned column">
        <div class="ui green small statistic">
          <div class="value">
            $<%= subscription.total %>
          </div>
          <div class="label">
            TOTAL
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui segment">
    <div class="ui stackable padded relaxed grid">
      <div class="eight wide column">
        <h3 class="ui header">
          <i class="calendar icon"></i>
          <div class="content">
            PROXIMA ENTREGA:
            <div class="sub header">
              ENTRE <%= l(subscription.deliveries.last.start_date, format: :short).upcase  %> Y <%= l(subscription.deliveries.last.end_date, format: :short).upcase %>
            </div>
          </div>
        </h3>
      </div>
      <div class="eight wide right aligned column">
        <% case subscription.status %>
        <% when 'authorized' %>
            <%= link_to "Pausar", pause_subscription_path(subscription), class: 'ui small button' %>
            <%= link_to "Cancelar", subscription_path(subscription), method: :delete, class: 'ui small red button' %>
        <% when 'pending' %>
            <%= link_to "Cancelar", subscription_path(subscription), method: :delete, class: 'ui small red button' %>
        <% when 'paused' %>
            <%= link_to "Reactivar", reactivate_subscription_path(subscription), class: 'ui small green button' %>
            <%= link_to "Cancelar", subscription_path(subscription), method: :delete, class: 'ui small red button' %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</div>