<div class="ui container stackable grid">
  <div class="divider"></div>
  <div class="row">
    <div class="ui center aligned eight wide column">
      <div class="ui segments">
        <div class="ui brown inverted segment">
          <h1 class="ui header">MIS DATOS</h1>
        </div>
        <div class="ui segment">
          <h2 class="ui header"><%= @customer.nombre %></h2>
        </div>
        <div class="ui segment">
          <h3><i class="icon envelope"></i> <%= @customer.email %></h3>
          <h3><i class="icon phone"></i> <%= @customer.phone %></h3>
        </div>
        <div class="ui segment">
          <div class="ui horizontal bulleted link list">
            <%= link_to "MODIFICAR MIS DATOS", edit_customer_registration_path, class: 'item' %>
            <%= link_to "CERRAR SESION", destroy_customer_session_path, method: :delete, class: 'item' %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui center aligned eight wide column">
      <div class="ui segment">
        <a href="<%= new_order_path %>">
          <div class="ui massive icon header">
            <i class="massive icon add circle green" style="font-size: 12rem;"></i>
            <h1 class="content">NUEVO PEDIDO</h1>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ui sixteen wide column">
      <h1 class="ui center aligned inverted block header">MIS PEDIDOS</h1>

      <% if @customer.orders.empty? %>
        <h4 class="ui center aligned header">
          No has hecho ningún pedido aún.
        </h4>
      <% end %>
      <% @customer.orders.each do |order| %>
          <%= render partial: 'order', locals: {order: order} %>
      <% end %>
    </div>
  </div>

  <div class="ui divider"></div>

</div>


<script>
  
</script>
