<div class="ui stackable grid">
  <div class="divider"></div>
  <div class="six wide centered center aligned column">
    <h1 class="ui centered header"><i class="user icon"></i>INICIAR SESIÓN</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui huge form'}) do |f| %>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: "Ingresa tu Email" %>
          </div>
        </div>

        <div class="field" style="margin-bottom: 0.3em;">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Ingresa tu Contraseña" %>
          </div>
        </div>

        <div class="ui horizontal bulleted link list">
          <%= link_to "Olvidé mi contraseña", new_password_path(resource_name), class: 'item' %>
          <%= link_to 'Reenviar Email de confirmación', new_customer_confirmation_path, class: 'item' %>
        </div>

        <div class="actions">
          <%= button_tag(class: 'ui fluid large green submit button') do %>
              <i class="sign in icon"></i>
              INICIAR SESIÓN
          <% end %>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="field" style="text-align: center; margin-top: 5px;">
              <div class="ui checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "Recordarme" %>
              </div>
            </div>
        <% end -%>
    <% end %>


    <div class="divider"></div>

    <div class="row">
      <h1 class="ui centered header">TODAVÍA NO TIENE CUENTA?</h1>
      <a href="<%= new_registration_path(resource_name) %>" class="ui fluid large primary button">
        <i class="write icon"></i>
        REGISTRARME
      </a>
    </div>

    <div class="divider"></div>
  </div>
</div>