<h1>¡YA ESTÁS SUSCRIPTO!</h1>
<h2>(Nº de Suscripcion <%= @subscription.id %>)</h2>

<p>
  A partir del día <%= l(@subscription.deliveries.first.start_date, format: :short) %> vas a recibir cada <%= @subscription.frequency %> días,
  en la dirección <%= @subscription.address %> (<%= @subscription.zone.name %>),
  los siguientes productos:
</p>

<ul>
  <% @subscription.subscription_items.each do |i| %>
  <li><%= i.quantity %> x <%= i.product.name_with_weight %></li>
  <% end %>
</ul>
