<h1>NUEVA SUSCRIPCION</h1>

Nombre Cliente: <%= @subscription.customer.nombre %><br>
Teléfono Cliente: <%= @subscription.customer.phone %><br>
Email Cliente: <%= @subscription.customer.email %><br>
Frecuencia: <%= @subscription.frequency %> días<br>
Fecha Inicio: <%= l(@subscription.deliveries.first.start_date, format: :short) %><br>
Metodo de Pago: <%= @subscription.payment_method %><br>
Dirección: <%= @subscription.address %>, <%= @subscription.zone.name %><br>
Productos:
<ul>
  <% @subscription.subscription_items.each do |i| %>
      <li><%= i.quantity %> x <%= i.product.name_with_weight %></li>
  <% end %>
</ul>

Total: $<%= @subscription.total %>