<h1>Los precios de tu suscripción (Nº<%= @subscription.id %>) han cambiado</h1>

<p>
  Algunas marcas han aumentado su precio,
  por lo tanto los precios de tu suscripción han sido actualizados.<br>
  A continuación te detallamos los nuevos precios:
</p>

<ul>
  <% @subscription.subscription_items.each do |i| %>
  <li>
    <%= i.quantity %> x <%= i.product.name_with_weight %> - $<%= i.product.price %>
  </li>
  <% end %>
</ul>

<h2>
  TOTAL SUSCRIPCIÓN: $<%= @subscription.total %>
</h2>

