body {
  background:  #fcd79c;
}

body.pushable > .pusher {
  background:  #fcd79c;
}

.divider {
  height: 30px;
  width: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.white-background {
  background: white;
}

.no-margin {
  margin: 0 !important;
}

.custom-yellow {
  background: #ffc857 !important;
}

.light-yellow {
  background: #fcd79c !important;
}

.custom-brown {
  background: #332000 !important;
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
  background: white;
  line-height: 25px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  font-size: 1em;
}

.ui.form select {
  -webkit-appearance: initial;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}