#main-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .item {
    display: block;
    text-align: center;
  }

  .item.active {
    color: #FDB903 !important;
  }
}

.logo {
  img {
    width: 190px !important;
  }
}

.mobile-logo {
  padding: 20px;
}

.toggle-mobile-menu {
  margin: auto !important;
  margin-bottom: 20px !important;
}