@media screen and (max-width: 767px) {
  .ui.table:not(.unstackable) thead {
    display: none !important;
  }
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td {
    .unit-price {
      display: none !important;
    }
    .shipping-cost {
      display: none !important;
    }
  }

  .hidden-xs {
    display: none !important;
  }

  .calendar-column {
    padding: 0 !important;
    margin-top: 20px;

    .ui.centered.message {
      padding: 0 !important;
    }
  }
}
