.payment_methods .payment_method_radio{
  background: #fafafa none repeat scroll 0 0;
  border: 10px solid rgba(34, 36, 38, 0.15);
  border-radius: 10px;
  display:inline-block;
  padding: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.payment_methods input[type=radio]{
  display:none
}

.payment_methods input[type=radio]:checked + .payment_method_radio{
  border: 10px solid #21ba45;
  color: black;
}


.order-table {
  margin: 0 !important;
  border-bottom: none !important;
  .product-quantity {
    input {
      width: 70px !important;
      text-align: center !important;
    }
  }

  .amount {
    color: green;
    font-size: 1.5em;
  }
}

#order_total {
  font-size: 3rem;
  color: green;
  line-height: 80px;
}

.list-unstyled {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.ui.centered.message {
  text-align: center;
}

#frequency_field {
  width: 70px;
}

#add_product {
  cursor: pointer;
}


#add_product_sidebar {
  display: hidden;
  background: #f5f3ee;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 98%;
  z-index: 3;
}