.ui.product.card {
  .image {
    width: auto;
    height: 270px;
    background: white;
    img {
      width: auto;
      height: 270px;
      padding: 20px;
      margin: auto;
    }
  }

  .content {
    border: none !important;
  }

  .product-price {
    span {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.ajaxpagination {
  text-align: center;
  margin: auto;
}

.ui.pagination.mini.menu .item {
  width: 2.8em;
}