// Place all the styles related to the Start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instruction {
  height: 350px;
  padding: 5% !important;
}

.banner-principal {
  background: #fcd79c;
  text-align: center;
  margin-top: 30px;
}

.number-circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #2176ae;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  h1 {
    font-family: "Alegreya Sans";
    font-size: 42px;
    font-weight: 900;
    margin: auto;
  }
}
.content {
  p {
    font-size: 17px;
    line-height: 22px;
  }
}

.content-xs {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.instruction-title {
   font-family: "Alegreya Sans";
   font-size: 42px;
   font-weight: 900;
   color: #553d0e;
}

.instruction-title-xs {
  font-family: "Alegreya Sans";
  font-size: 22px;
  font-weight: 900;
  color: #553d0e;
}

.instruction-image-xs {
  width: 200px;
  margin: auto;
}

.finishing-title {
  font-family: "Alegreya Sans";
  font-size: 90px;
  font-weight: 900;
  color: #553d0e;
}

.finishing-sentence {
  font-family: "Alegreya Sans";
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 900;
  line-height: 50px;
}

.finishing-title-xs {
  font-family: "Alegreya Sans";
  font-size: 42px;
  font-weight: 900;
  color: #553d0e;
}

.finishing-sentence-xs {
  font-family: "Alegreya Sans";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
}

.perritos {
  margin-top: -70px;
}
