<h1>¡TU PEDIDO FUE REALIZADO!</h1>
<h2>PEDIDO Nº<%= @order.id %></h2>

<h3 style="text-align: left">Detalles del pedido:</h3>
<ul style="text-align: left">
  <li><strong>Fecha de entrega:</strong> <%= l(@order.delivery_date, format: :short).upcase  %></li>
  <li><strong>Dirección:</strong> <%= @order.address %>, <%= @order.zone.name %></li>
  <li><strong>Preferencia horaria:</strong> <%= @order.time_preference %></li>
  <li><strong>Medio de pago:</strong> <%= @order.payment_method %></li>
</ul>

<h3 style="text-align: left">Productos:</h3>
<ul style="text-align: left">
  <% @order.order_items.each do |i| %>
  <li><%= i.quantity %> x <%= i.product.name_with_weight %></li>
  <% end %>
</ul>

<h3 style="text-align: left">Nota:</h3>
<p style="text-align: left">
  <%= @order.note %>
</p>

<h3 style="text-align: left">TOTAL: $<%= @order.total %></h3>