
<div class="ui container stackable grid">
  <div class="divider"></div>
  <div class="eight wide centered column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui huge form', method: :put}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
              <br/>
              <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "CAMBIAR CONTRASEÑA" %>
        </div>
    <% end %>
  </div>
</div>

