<div class="ui container stackable grid">
  <div class="divider"></div>
  <div class="eight wide centered column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui huge form',method: :put}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :nombre, "NOMBRE COMPLETO" %>
          <%= f.text_field :nombre, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email, "EMAIL" %>
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :phone, "TELÉFONO" %>
          <%= f.text_field :phone %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Actualmente esperando confirmacion para: <%= resource.unconfirmed_email %></div>
        <% end %>



        <div class="actions">
          <%= f.submit "ACTUALIZAR", class: 'ui huge fluid green button' %>
        </div>
    <% end %>

    <div class="divider"></div>

    <%= link_to "VOLVER ATRÁS", :back, class: 'ui button' %>

    <div class="divider"></div>

  </div>
</div>

