//= require activeadmin_addons/all
//= require semantic_ui/semantic_ui
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import "wigu/active_admin_theme";
@import "font-awesome-sprockets";
@import "font-awesome";

#active_admin_content #sidebar {
  width: 100%;
  margin-left: inherit;

  .filter_form {
    display: flex;
    flex-wrap: wrap;

    .filter_form_field {
      width: 33%;
    }

    .select.input {
       .select2-container {
         width: 80% !important;
       }
     }
  }
}

#active_admin_content #main_content_wrapper #main_content {
  margin-right: 0;
}

form.filter_form .filter_form_field.select_and_search input[type=text] {
  width: 55%;
}

table.index_table {
  text-align: center;
  td, th {
    vertical-align: middle;
    text-align: center;
    text-wrap: normal;
  }

  .col-foto {
    img {
      height: 50px;
    }
  }

}

#wrapper table.index_table td {
  padding: 20px 12px 20px 12px;
}

.ui.avatar.image {
  height: 3em;
  border-radius: 0;
}