body {
  background: #EDD9B8;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

h1 {
  font-family: 'Alegreya Sans';
  color: #553d0e;
}

.header {
  text-align: center;
}

ul {
  list-style: none;
}

.boton {
  cursor: pointer;
  border: none;
  padding: 10px 16px;
  font-size: 18px;
  font-family: 'Montserrat';
  line-height: 2.333333;
  border-radius: 6px;
  text-decoration: none;
}

.verde {
  background: #21ba45;
  color: white;
}

.footer {
  padding: 10px;
}

.header img {
  width: 200px;
  padding-top: 20px;
}