<h1>¡Bienvenido/a <%= @resource.nombre %>!</h1>

<h3>Puede confirmar su cuenta haciendo click en el siguiente enlace:</h3>

<h3><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token), class: 'boton verde' %></h3>

