<h1>¡Hola <%= @resource.nombre %>!</h1>

<p>Haga click en el siguiente link para reestablecer su contraseña</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito esto, por favor ignore este email.</p>
<p>Su contraseña no cambiara hasta que ingrese al link de arriba y la cambie.</p>
