<div class="ui container">
  <%= page_entries_info @products %>
  <div class="divider"></div>
  <%= ajax_loadzone do %>
      <div id="filterrific_results">
        <div class="ui four doubling stackable cards">
          <% @products.each do |product| %>
              <%= render partial: 'product', locals: {product: product} %>
          <% end %>
        </div>
      </div>
  <% end %>

  <div class="divider"></div>
</div>

<%= ajax_links :section_id => "list" do %>
    <%= paginate @products, window: 1 %>
<% end %>

