<div class="ui product card"
     data-product-id="<%= product.id %>"
     data-product-name="<%= product.name %>"
     data-product-weight="<%= product.weight %>"
     data-product-photo="<%= product.photo.url %>"
     data-product-price="<%= product.price %>"
>

  <div class="ui centered image">
    <img src="<%= product.photo.url %>" alt="Product Image">
  </div>

  <div class="center aligned content">
    <h3 class="header"><%= product.name %></h3>
    <div class="meta"><%= product.weight %> KG</div>
  </div>
  <div class="ui bottom attached segment text-center">
    <div class="ui two columns middle aligned grid">
      <div class="column">
        <h3 class="ui product-price green header">$<span><%= product.price %></span></h3>
      </div>
      <div class="column">
        <a class="ui yellow small button" href="#"
           data-izimodal-open="modal_<%= product.id %>"
        >
          DETALLES
        </a>
      </div>
    </div>
  </div>
</div>


<div class="iziModal" id="modal_<%= product.id %>">
  <div style="text-align: center">
    <div class="divider"></div>
    <i class="ui huge close icon" data-izimodal-close=""></i>
    <div class="divider"></div>
    <img src="<%= product.photo.url %>" class="ui small centered image">
    <div class="ui centered header"><%= product.name %></div>
    <%= simple_format(product.description) %>
  </div>
  <div class="divider"></div>
</div>

<script>
  $('#modal_<%= product.id %>').iziModal({
    transitionIn: 'fadeIn',
    transitionOut: 'fadeOut',
    width: '700px',
    history: false
  });
</script>