<div class="ui container">
  <div class="divider"></div>
  <div class="ui segment yellow inverted" style="margin: 0;">
    <div class="ui dimmer" id="filterrific_dimmer">
      <div class="ui text huge loader">Cargando</div>
    </div>
    <div class="divider"></div>
    <div class="ui container grid">
      <%= form_for_filterrific @filterrific, html: {class: 'ui fluid large form'} do |f| %>

          <div class="three fields">
            <div class="field">
              <%= f.label :with_brand_id, "MARCA" %>
              <%= f.select(
                      :with_brand_id,
                      @filterrific.select_options[:with_brand_id],
                      {include_blank: 'TODAS'},
                      {class: 'selectize'}
                  ) %>
            </div>
            <div class="field">
              <%= f.label :with_pet_id, "TIPO DE MASCOTA" %>
              <%= f.select(
                      :with_pet_id,
                      @filterrific.select_options[:with_pet_id],
                      {include_blank: 'TODAS'},
                      {class: 'selectize'}
                  ) %>
            </div>
            <div class="field">
              <%= f.label :search_query, "BUSCAR PRODUCTO" %>
              <div class="ui icon input">
                <%= f.text_field(
                        :search_query,
                        class: 'filterrific-periodically-observed',
                        placeholder: 'Escribe aqui tu busqueda...'
                    ) %>
                <i class="search icon"></i>
              </div>
            </div>
          </div>
          <p class="text-center" style="color: black;">
            Si el producto que buscás no está en esta lista, consultanos, disponemos de una amplia
            línea de productos especiales y medicados a pedido.
          </p>


      <% end %>
    </div>
  </div>
  <div class="divider"></div>
  <div id="product_list">
    <%= ajax_section :id => "list", :render => "list.ajax" %>
  </div>
  <div class="divider"></div>
</div>


