<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="title" content="Club de Huellas - La forma más facil de comprar alimento para mascotas">
  <meta name="description" content="Pedí el Alimento de tus Mascotas desde tu Smartphone o Computadora y recibilo en tu casa. ¡Tenemos todas las marcas y precios increíbles!">


  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <title><%= content_for?(:title) ? yield(:title) : "Club de Huellas - La forma más facil de comprar alimento para mascotas" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render partial: 'shared/facebook_pixel' %>

</head>

<body>

<div class="ui page dimmer" id="full_page_dimmer">
  <div class="ui text massive loader">Cargando</div>
</div>


<%= render partial: 'shared/menu_sidebar' %>

<div class="pusher">
  <%= render partial: 'shared/header' %>

  <div class="ui container">
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> closable">
          <i class="close icon"></i>
          <%= value %>
        </div>
    <% end %>
  </div>

  <%= yield %>

  <%= render partial: 'shared/footer' %>
</div>

<script type="text/javascript">
  window.smartlook || (function (d) {
    var o = smartlook = function () {
      o.api.push(arguments)
    }, h = d.getElementsByTagName('head')[0];
    var c = d.createElement('script');
    o.api = new Array();
    c.async = true;
    c.type = 'text/javascript';
    c.charset = 'utf-8';
    c.src = '//rec.smartlook.com/recorder.js';
    h.appendChild(c);
  })(document);
  smartlook('init', 'd8afbcdac95f9dab3c316b48155ed1b6d3dbe8a8');
</script>

<% if customer_signed_in? %>
    <script type="text/javascript">
      smartlook('tag', 'email', '<%= current_customer.email %>');
    </script>
<% end %>

</body>
</html>

