<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:900|Montserrat" rel="stylesheet">
  <%= stylesheet_link_tag 'email' %>
</head>
<body>
<div class="header">
  <%= image_tag 'clubdehuellas.png' %>
</div>
<%= yield %>

<p>
  Para mas información sobre tus pedidos hace click en el siguiente botón
</p>
<a href="http://clubdehuellas.com/mi-cuenta" class="boton verde">MI CUENTA</a>

<h1>
  ¡GRACIAS POR CONFIAR EN NOSOTROS!
</h1>

<div class="footer">
  Este email no recibe respuestas, para comunicarse con nosotros:<br>
  <a href="mailto:contacto@clubdehuellas.com">
    contacto@clubdehuellas.com
  </a>
</div>
</body>
</html>
