<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="title" content="Club de Huellas - ¡Que el alimento de tus mascotas ya no sea un problema!">
  <meta name="description" content="Suscribite y recibí la comida de tus mascotas
    en tu casa, todos los meses. ¡Tenemos todas las marcas y precios increíbles!">


  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <title><%= content_for?(:title) ? yield(:title) : "Club de Huellas - ¡Que el alimento de tus mascotas ya no sea un problema!" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

<div class="ui page dimmer" id="full_page_dimmer">
  <div class="ui text massive loader">Cargando</div>
</div>


<div class="ui container">
  <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> closable">
        <i class="close icon"></i>
        <%= value %>
      </div>
  <% end %>
</div>

<%= yield %>


</body>
</html>